

.tab-left{
    width:40vw;
    background-color: $light-pink;
    height:auto;
}

.profile{
    width:10rem;
    height:11rem;
    border-radius: 50%;
    padding: 3rem 5rem;
      
}

.about-me,.cv-contact{
    height:auto;
    display:flex;
    flex-direction: column;
}


.info-type{
    margin: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-bottom: 2px solid $github;
}

.info{
    font-size: 1rem;
    padding: 0.2rem 1rem;

}

.fa-map-marker-alt, .fa-phone-volume, .fa-at{
    font-size: 1.2rem;
    padding-right: 10px;
}



.experience{
    height: auto;
    padding: 1rem;
}

.education{
    height: auto;
    padding: 1rem;
}

.training{
    height: auto;
    padding: 1rem;
}

.info-box{
    margin-left:1rem;

}

.info-title-city{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.info-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
  
}

.info-bold{
    font-weight: bolder;
  
    
}

