.info-portfolios{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    
}

.info-greeting{
    font-size: 3rem;
    width:80%;
    margin-left:7rem;
    
}

.info-container{
    width: 100%;
    height: auto;
    background-image: url("../background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    padding: 200px 0;
}

/*style portfolios part*/

.portfolios-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.project{
    width:25vw;
    margin: 2rem 0;
    position:relative;
}

.project-img{
    width:25vw;
    height:50vh;
    margin: 0 auto;
    display: block;
}

.project-img:hover{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    opacity:0.8;
}

.overlay {
    position: absolute;    
    bottom: 0;
    
    background: rgba(0, 0, 0, 0.6);
    opacity:0;
    width: 100%;
    height: 30%;
    transition: .3s ease;
}

.project:hover .overlay {
    opacity:1;
}

.text { 
    color: $lightPink;
    font-size: 3rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text2{
    color: $lightPink;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project1{
    width:25vw;
    height:50vh;
    margin: 2rem 0;
    position:relative;
    background-color: $overlay;
}

.overlay1{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    opacity:0;
    width: 100%;
    height:100%;
    transition: .3s ease;
}

.project1:hover .overlay1 {
    opacity:1;
}

.overlay1-img{
    width:25vw;
    height:50vh;
    margin: 0 auto;
    display: block;
}