 /* phones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
   
    /* index page */
    .name{
        font-size: 1rem;  
    }

    #menu{
        width: 20px;
        height: 3px;
        margin: 5px 0;
    }
    

    .portfolios-container{
        display:flex;
        flex-direction: column;
    }

    .project{
        width:100%;
        height:auto;
        margin: 2rem 0;
        position:relative;
    
    }

    .project-img{
        width:100%;
        height:auto;

        display: block;
    }

    .info-container{
        background-image: url("../roadWithSky.jpg");
    }

    .info-greeting{
        font-size: 2rem;
        margin:0 auto;
    }
    
    .right-icons{ 
        flex-direction:column; 
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .icons-container{
        padding-top: 0rem;
        margin: 0 auto;
       
    }

    .vl{
        justify-content: space-between;
        padding-right: 2rem;
        
    }

     /* cv page */
     .tabs-container{
        display:flex;
        flex-direction: column;
        margin:0 auto;
    }

    .tab {
        display:flex;
        flex-direction: row;
        float: none;
        width: 100%;
        justify-content: space-around;
        height: auto;
        margin:0;
    }

    .tablink {
        color:$github;
        font-size: 1rem;
        padding:0;
        margin:0;
    }

    .tabcontent {
        float: none;
        width: 100%;
        display:flex;
        flex-direction:column;
       
    }  
    
    .tab-left{
        width:100%;
        background-color: $light-pink;
        display:flex;
        flex-direction: column;
    }

    .tab-right{
        width:100%;
        display:flex;
        flex-direction: column;
    }

    .info-type{
        margin: 0.5rem;
        font-size: 1rem;
        font-weight: bolder;
        border-bottom: 2px solid $github;
    }

    .info-title{
        flex-direction: column;
    }
   
    .about-me,.cv-contact{
        padding:1rem;
        width:100%;
    }

/* contact page */

.contact-container{
    height:auto;
    display:flex;
    flex-direction: column;

    .contact{
    padding: 0 2rem;
    }

    .greeting{
    padding: 0 2rem;
    font-size: 2rem;
    margin: 1rem 0;
    }
}

.detail-contact-info{
    display:flex;
    flex-direction: column;
    background-color: $light-pink;
    height: auto;
    
    .phone-info{
        padding:2rem 4rem;
        
       
    }
    .email-info{
        padding:2rem 4rem;
        
       
    }
    .address-info{
        padding:2rem 4rem;
     
        
    }
    
}


}