@import "variables";
@import "components";
@import "header";
@import "footer";
@import "info-portfolios";
@import "contact-container";
@import "cv";
@import "cover-letter";
@import "tabs";
@import "media-queries";



body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



