
.right-icons{
    width: 90%;
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin:0 auto;
}

.copytight-container{
    padding-top: 4rem;
    color:$icon-color;
    
}

/*Style four conact icons*/

.icons-container{
    padding-top: 3rem;
}

.vl{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

}

.icon{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: $icon-color;
}

.fa-linkedin-in:hover{
    color: $linkedin;
}

.fa-github:hover{
    color: $github;
}

.fa-stack-overflow:hover{
    color:$stackoverflow; 
}