.name-menu {
  width: 90%;
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 20vh;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

/*style off-canvas menu*/
#menu {
  width: 35px;
  height: 4px;
  background-color: #24282e;
  margin: 6px 0;
}

.right-icons {
  width: 90%;
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

.copytight-container {
  padding-top: 4rem;
  color: #8d8d8d;
}

/*Style four conact icons*/
.icons-container {
  padding-top: 3rem;
}

.vl {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #8d8d8d;
}

.fa-linkedin-in:hover {
  color: #0376b4;
}

.fa-github:hover {
  color: #24282e;
}

.fa-stack-overflow:hover {
  color: #e88239;
}

.info-portfolios {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.info-greeting {
  font-size: 3rem;
  width: 80%;
  margin-left: 7rem;
}

.info-container {
  width: 100%;
  height: auto;
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  padding: 200px 0;
}

/*style portfolios part*/
.portfolios-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.project {
  width: 25vw;
  height: 50vh;
  margin: 2rem 0;
  position: relative;
}

.project-img {
  width: 25vw;
  height: 50vh;
  margin: 0 auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E89595;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.contact-container .contact {
  padding: 0 12rem;
  color: #8d8d8d;
  font-weight: bold;
}
.contact-container .greeting {
  padding: 0 12rem;
  font-size: 3rem;
  margin: 1rem 0;
}

.detail-contact-info {
  display: flex;
  flex-direction: row;
  background-color: #faeaea;
  height: 30vh;
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}
.detail-contact-info .phone-info {
  padding: 2rem 6rem 3rem 12rem;
}
.detail-contact-info .email-info {
  padding: 2rem 6rem;
}
.detail-contact-info .address-info {
  padding: 2rem 6rem;
}

.tab-left {
  width: 40vw;
  background-color: #faeaea;
  height: auto;
}

.profile {
  width: 10rem;
  height: 11rem;
  border-radius: 50%;
  margin: 0 auto;
  padding: 3rem;
}

.about-me, .cv-contact {
  height: auto;
  display: flex;
  flex-direction: column;
}

.info-type {
  margin: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 2px solid #24282e;
}

.info {
  font-size: 1rem;
  padding: 0.2rem 1rem;
}

.fa-map-marker-alt, .fa-phone-volume, .fa-at {
  font-size: 1.2rem;
  padding-right: 10px;
}

.experience {
  height: auto;
  padding: 1rem;
}

.education {
  height: auto;
  padding: 1rem;
}

.training {
  height: auto;
  padding: 1rem;
}

.info-box {
  margin-left: 1rem;
}

.info-title-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-bold {
  font-weight: bolder;
}

/* Style the tab */
.tab {
  float: left;
  width: 12%;
  height: 20vh;
  margin-left: 4rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  color: #24282e;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  text-align: right;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #faeaea;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #faeaea;
}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 70%;
  display: flex;
  flex-direction: row;
}

/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* index page */
  .name {
    font-size: 1rem;
  }

  #menu {
    width: 20px;
    height: 3px;
    margin: 5px 0;
  }

  .portfolios-container {
    display: flex;
    flex-direction: column;
  }

  .project {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    position: relative;
  }

  .project-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .info-container {
    background-image: url("../roadWithSky.jpg");
  }

  .info-greeting {
    font-size: 2rem;
    margin: 0 auto;
  }

  .right-icons {
    flex-direction: column;
    width: 100%;
  }

  .icons-container {
    padding-top: 0rem;
    margin: 0 auto;
  }

  .vl {
    justify-content: space-between;
    padding-right: 2rem;
  }

  /* cv page */
  .tabs-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .tab {
    display: flex;
    flex-direction: row;
    float: none;
    width: 100%;
    justify-content: space-around;
    height: auto;
    margin: 0;
  }

  .tablink {
    color: #24282e;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .tabcontent {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tab-left {
    width: 100%;
    background-color: #faeaea;
  }

  .tab-right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .info-type {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    border-bottom: 2px solid #24282e;
  }

  .info-title {
    flex-direction: column;
  }

  .about-me, .cv-contact {
    padding: 1rem;
  }
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=main.css.map */
